Repository openshift/zero-trust-workload-identity-manager, pull requests merged in 2025-09, with the labels that each got.

#31 SPIRE-134: Adds the support to update the TTL for the spire servers
  api/v1alpha1/spire_server_config_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/operator.openshift.io_spireservers.yaml
  bundle/manifests/zero-trust-workload-identity-manager.clusterserviceversion.yaml
  config/crd/bases/operator.openshift.io_spireservers.yaml
  pkg/controller/spire-server/configmap.go
  pkg/controller/spire-server/configmaps_test.go
  pkg/controller/spire-server/controller.go
  pkg/controller/spire-server/validation.go
  pkg/controller/spire-server/validation_test.go
  test/e2e/e2e_test.go
Labels: jira/valid-reference, approved, qe-approved, lgtm

#37 SPIRE-159: Adds support to enable and disable manual user configurations
  pkg/controller/spiffe-csi-driver/controller.go
  pkg/controller/spire-agent/controller.go
  pkg/controller/spire-oidc-discovery-provider/controller.go
  pkg/controller/spire-server/controller.go
  pkg/controller/static-resource-controller/controller.go
  pkg/controller/static-resource-controller/csi.go
  pkg/controller/static-resource-controller/rbacs.go
  pkg/controller/static-resource-controller/service-account.go
  pkg/controller/static-resource-controller/service.go
  pkg/controller/utils/annotations.go
  pkg/controller/utils/annotations_test.go
Labels: jira/valid-reference, approved, lgtm

#33 SPIRE-147: Adds route to oidc-discovery-provider-service
  Makefile
  api/v1alpha1/spire_oidc_discovery_provider_types.go
  bindata/spire-oidc-discovery-provider/spire-oidc-discovery-provider-service.yaml
  bundle/manifests/operator.openshift.io_spireoidcdiscoveryproviders.yaml
  bundle/manifests/zero-trust-workload-identity-manager.clusterserviceversion.yaml
  cmd/zero-trust-workload-identity-manager/main.go
  config/crd/bases/operator.openshift.io_spireoidcdiscoveryproviders.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  pkg/client/client.go
  pkg/controller/spire-oidc-discovery-provider/configmap_test.go
  pkg/controller/spire-oidc-discovery-provider/configmaps.go
  pkg/controller/spire-oidc-discovery-provider/controller.go
  pkg/controller/spire-oidc-discovery-provider/deployments.go
  pkg/controller/spire-oidc-discovery-provider/deployments_test.go
  pkg/controller/spire-oidc-discovery-provider/routes.go
  pkg/controller/spire-oidc-discovery-provider/routes_test.go
  pkg/controller/spire-server/statefulset.go
  pkg/controller/static-resource-controller/controller.go
  pkg/controller/utils/constants.go
  pkg/controller/utils/relatedImages.go
  pkg/controller/utils/utils.go
  pkg/controller/utils/utils_test.go
  pkg/operator/assets/bindata.go
  vendor/github.com/openshift/api/route/v1/Makefile
  vendor/github.com/openshift/api/route/v1/doc.go
  vendor/github.com/openshift/api/route/v1/generated.pb.go
  vendor/github.com/openshift/api/route/v1/generated.proto
  vendor/github.com/openshift/api/route/v1/legacy.go
  vendor/github.com/openshift/api/route/v1/register.go
  vendor/github.com/openshift/api/route/v1/test-route-validation.sh
  vendor/github.com/openshift/api/route/v1/types.go
  vendor/github.com/openshift/api/route/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/route/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/route/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Labels: jira/valid-reference, approved, qe-approved, lgtm

#39 SPIRE-179: Add e2e test for spiffe oidc discovery provider installation
  test/e2e/e2e_test.go
  test/e2e/utils/constants.go
Labels: jira/valid-reference, tide/merge-method-squash, approved, lgtm
